@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);
}

.background {
  height: auto;
}

.bg-transparent {
  background: rgba(255, 166, 0, 0.1) !important;
}

.bg-transparent-user {
  background: rgba(255, 255, 255, 0.912) !important;

}

.button-style {
  width: 100% !important;
  background: #d70f62 !important;
  border: #d70f62 !important;
  height: 46px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700 !important;
  transition: all .2s cubic-bezier(.25, .46, .45, .94);
}

.button-style:hover {
  background: white !important;
  border: 1px solid #d70f62 !important;
  color: #c90e5c !important;
  transform: scale(1.0);
}

.link-style {
  color: #d70f62 !important;
  text-decoration: none;
}

.link-style:hover {
  color: #c90e5c;
}